html, body {
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  font-style: sans-serif;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body a {
  color: cornflowerblue;
  text-decoration: none;
}

body h1 {
  font-size: 24px;
  font-weight: bold;
}

input[type=checkbox] {
  visibility: hidden;
}

.example a {
  display: block;
  margin-bottom: 16px;
}

.example .message {
  font-style: italic;
  font-weight: bold;
}

.example .mono {
  background: black;
  border-radius: 4px;
  color: lime;
  font-family: monospace;
  padding: 16px;
}

#hello-world input, h1, p {
  margin-bottom: 16px;
}

#main {
  display: flex;
  height: 100%;
  width: 100%;
}

#main .menu {
  width: 296px;
}

#main .menu a {
  display: block;
  margin-bottom: 8px;
}

#main .menu .title {
  padding: 16px;
  text-align: center;
}

#main .content {
  box-shadow: -4px 0 32px rgba(0,0,0, 0.25);
  flex: 1;
  padding: 32px;
}