{:deps {com.bhauman/figwheel-main {:mvn/version "0.1.9"}
        com.cemerick/url {:mvn/version "0.1.1"}
        garden {:mvn/version "1.3.6"}
        recurrent {:mvn/version "0.2.1"}
        ulmus {:mvn/version "0.2.1"}}
 :paths ["src" "target" "resources"]}

