{:deps {com.bhauman/figwheel-main {:mvn/version "0.1.9"}
        garden {:mvn/version "1.3.6"}
        recurrent {:local/root "/home/jkross/Projects/recurrent"}
        ulmus {:local/root "/home/jkross/Projects/ulmus"}}
 :paths ["src" "target" "resources"]}

