html, body {
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  font-style: sans-serif;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body a {
  color: cornflowerblue;
  text-decoration: none;
}

body h1 {
  font-size: 24px;
  font-weight: bold;
}

input[type=checkbox] {
  visibility: hidden;
}

.example a {
  display: block;
  margin-bottom: 16px;
}

.example .message {
  font-style: italic;
  font-weight: bold;
}

.example .mono {
  background: black;
  border-radius: 4px;
  color: lime;
  font-family: monospace;
  padding: 16px;
}

#hello-world input, h1, p {
  margin-bottom: 16px;
}

#todo-frp {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

#todo-frp .content {
  width: 512px;
}

#todo-frp .content .todo {
  border: 1px solid lightgrey;
  cursor: pointer;
  display: flex;
  padding: 16px;
  font-size: 1.2rem;
  margin-left: 42px;
  transition: opacity 500ms;
}

#todo-frp .content .todo.completed {
  opacity: 0.5;
  text-decoration: line-through;
}

#todo-frp .content .todo .close {
  display: none;
  margin-left: auto;
  text-align: right;
}

#todo-frp .content .todo:hover .close {
  display: block;
}

#todo-frp .content .view-bar {
  display: flex;
  margin: 16px 0;
}

#todo-frp .content .view-bar h4 {
  margin-left: 42px;
  margin-right: 16px;
}

#todo-frp .content .view-bar div {
  cursor: pointer;
  margin-right: 8px;
}

#todo-frp .content .view-bar div.selected {
  font-weight: bold;
}

#todo-frp .content #what-needs-done {
  display: flex;
}

#todo-frp .content #what-needs-done .clear-all {
  cursor: pointer;
  font-size: 1.3rem;
  margin: 16px;
  transform: rotate(-90deg);
}

#todo-frp .content #what-needs-done input {
  padding: 16px;
  font-size: 1.3rem;
  width: 100%;
}

#main {
  display: flex;
  height: 100%;
  width: 100%;
}

#main .menu {
  width: 296px;
}

#main .menu a {
  display: block;
  margin-bottom: 8px;
}

#main .menu .title {
  padding: 16px;
  text-align: center;
}

#main .main-content {
  box-shadow: -4px 0 32px rgba(0,0,0, 0.25);
  flex: 1;
  padding: 32px;
}